modules = ["nodejs-20", "python-3.11"]
run = "npm run dev"

[nix]
channel = "stable-25_05"

[env]
PORT = "5173"

[[ports]]
localPort = 443
externalPort = 3002

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 5173

[[ports]]
localPort = 5174
externalPort = 3000

[[ports]]
localPort = 5175
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[workflows]
runButton = "Dev server"

[[workflows.workflow]]
name = "Dev server"
mode = "auto"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5173
